

{{#if collections}}
<h3>these are {{user.firstname}} collections</h3>
{{#each collections}}
{{/each}}

{{else}}
<h2>You haven't made any Collections yet. Why not <a href="/collection/create.hbs">create a collection</a>?</h2>
{{/if}}